.d-tree {
    border: 1px black solid;
}

.d-tree-container {
    list-style: none;
    width: 1000px;
    padding: 0;
}

.d-tree-node {
    width: 200px;
}

.borders {
    position: absolute;
    width: 977px;
}

.d-tree-head {
    cursor: pointer;
    transition: all 0.2s linear;
    border-radius: 5px;
    max-width: 250px;
    padding: 0 6px;
    margin: 5px 0;
}

.d-tree-head:hover {
    background-color: rgba(0, 110, 255, 0.486);
}

.d-checkbox {
    padding: 0;
}

.d-tree-toggler.active {
    visibility: hidden;
}

.d-tree-toggler.active::after{
    margin-left:-10px;
    content: "–\a0\a0";
    display: inline;
    position: relative;
    visibility: visible;
}